---
import DeckViewer from "../../components/DeckViewer.astro";
import SiteLayout from "../../layouts/SiteLayout.astro";
import { decks, getDeck } from "../../data/decks";

export function getStaticPaths() {
  return decks.map((deck) => ({
    params: { slug: deck.slug },
  }));
}

const deck = getDeck(Astro.params.slug ?? "");

if (!deck) {
  throw new Error(`Unknown presentation slug: ${Astro.params.slug}`);
}
---

<SiteLayout title={`${deck.shortTitle} | Ekvin Saleh`}>
  <main class="presentation-page" id="viewer">
    <DeckViewer deck={deck} />
  </main>
</SiteLayout>
